@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @RenderBody()
        <!-- start of sidebar -->
        @await Component.InvokeAsync("SideBar")
        <!-- end of sidebar -->
    </div>
</div>

<!-- ✅ Đặt ở cuối file -->
@RenderSection("scripts", required: false)
